
.ExpensesContainer{
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: lightpink;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

span{
  margin-top: 2%;
  margin-bottom: 2%;
}

table{
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

th{
  border: solid 2px black;
}

tr{
  border: solid 1px black;
}

td{
  padding: 10px;
}

.deleteItemButton{
  cursor: pointer;
}