
.ExpensesContainer{
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 650px;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

p{
  padding: 5px;
  border-style: solid;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px;
  background-color: black;
  color:aqua;
  font-size: 20px;
}

table{
  background-color: black;
  color: aqua;
  padding: 5px;
  border: solid 2px aqua;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.75);
}

th{
  border: solid 2px aqua;
  background-color:rgb(60, 60, 60);
  min-width: 100px;
}

tr{
  background-color: rgba(60,60,60,0.5);
}

td{
  padding: 10px;
}

.deleteItemButton{
  cursor: pointer;
  font-weight: bold;
}

.deleteItemButton:hover{
  font-weight: 1000;
  color: red;
}